@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Irish+Grover&display=swap");
:root {
  --background-color: #fffbe7;
  --error-message-color: #f00;
  --main-text-color: #212529;
  --primary-color: #ffd700;
  --secondary-color: #9494f3;
  --secondary-text-color: #fff;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

header {
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  header {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  header {
    font-size: 16px;
    line-height: 24px;
  }
}
header .brand {
  font-family: "Irish Grover", cursive;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 600px) {
  header .brand {
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  header .brand {
    font-size: 26px;
    line-height: 34px;
  }
}
header img {
  width: 50px;
  border-radius: 50%;
}

nav {
  gap: 10px;
}
nav div.active::after {
  background-color: var(--main-text-color);
  content: "";
  display: block;
  height: 1px;
  width: 100%;
}
nav div:hover {
  cursor: pointer;
}
nav div:hover::after {
  width: 100%;
}
nav div::after {
  background-color: var(--main-text-color);
  content: "";
  display: block;
  height: 1px;
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  width: 0;
}

main {
  background-color: var(--background-color);
}

footer {
  background-color: var(--primary-color);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
footer .copyright {
  font-size: smaller;
}
footer .brand {
  font-family: "Irish Grover", cursive;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 600px) {
  footer .brand {
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  footer .brand {
    font-size: 26px;
    line-height: 34px;
  }
}
footer .logo {
  width: 5%;
  height: auto;
  border-radius: 50%;
}
footer .title {
  font-family: "Inconsolata", monospace;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 5px 1px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--main-text-color);
}
@media only screen and (min-width: 600px) {
  footer .title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 992px) {
  footer .title {
    font-size: 22px;
    line-height: 28px;
  }
}

.hidden {
  transition: all 1s ease-in-out;
  transform: translateX(0);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-50%);
}

.hidden-right {
  opacity: 0;
  transform: translateX(50%);
}

.hidden-center {
  opacity: 0;
}

audio {
  display: none;
}

.skeleton {
  width: 100%;
  height: 100%;
  background-color: rgb(214, 214, 214);
  animation: animate-skeleton 1s ease-in-out infinite alternate forwards;
}

@keyframes animate-skeleton {
  from {
    background-color: rgb(214, 214, 214);
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}
.hero-section {
  padding-top: 100px !important;
}
.hero-section .img-wrapper {
  width: 80%;
  aspect-ratio: 1/1.2;
}
@media only screen and (min-width: 600px) {
  .hero-section .img-wrapper {
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .hero-section .img-wrapper {
    width: 30%;
  }
}
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}
.hero-section img.img-1 {
  transform: rotate(-25deg) translate(50px, 45px);
  position: relative;
  box-shadow: 20px -15px 12px rgba(0, 0, 0, 0.5);
  z-index: 9999999;
}
.hero-section img.img-1:hover {
  transform: rotate(5deg) translate(30px, 15px);
}
.hero-section img.img-2 {
  transform: rotate(-20deg) translate(-60px, -35px);
}
.hero-section img.img-2:hover {
  transform: rotate(0deg) translate(80px, 30px);
}

.hero-text {
  font-family: "Irish Grover", cursive;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 600px) {
  .hero-text {
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .hero-text {
    font-size: 26px;
    line-height: 34px;
  }
}

.merch-section .img-wrapper {
  aspect-ratio: 1/1.2;
}
.merch-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section.info-section audio, section.info-section img {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  section.info-section audio, section.info-section img {
    width: 50%;
  }
}
section.info-section img {
  border-radius: 10px;
}

.title {
  font-family: "Irish Grover", cursive;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 1.1em;
}
@media only screen and (min-width: 600px) {
  .title {
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .title {
    font-size: 26px;
    line-height: 34px;
  }
}

button {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  transition: all 0.25s ease-in-out;
  font-family: "Irish Grover", cursive;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  button {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  button {
    font-size: 14px;
    line-height: 20px;
  }
}
button:hover, button:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--secondary-color);
  transform: scale(1.1);
}
button .bi {
  font-size: 1.5em;
}

section {
  padding: 20px 0;
}
@media only screen and (min-width: 600px) {
  section {
    padding: 30px;
  }
}
@media only screen and (min-width: 992px) {
  section {
    padding: 50px 0;
  }
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}
a:hover {
  color: var(--main-text-color);
}

.merch-hero {
  height: 100vw;
  background-color: #000;
}
@media only screen and (min-width: 600px) {
  .merch-hero {
    height: 45vw;
  }
}
@media only screen and (min-width: 992px) {
  .merch-hero {
    height: 30vw;
  }
}
.merch-hero .shade {
  position: relative;
}
.merch-hero .shade::after { /* add ::after pseudo-element */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #000000 23.96%, rgba(0, 0, 0, 0) 100%);
}
.merch-hero .img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.merch-hero .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.merch-hero .img-wrapper img.next-img {
  opacity: 0;
}
.merch-hero .w-60 {
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .merch-hero .w-60 {
    width: 60%;
  }
}
.merch-hero .w-60 .img-wrapper {
  width: 80%;
}
.merch-hero .w-40 {
  width: 40%;
  position: relative;
  display: none;
}
@media only screen and (min-width: 992px) {
  .merch-hero .w-40 {
    display: inline-block;
  }
}
.merch-hero .w-40::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  transform-origin: top left;
  transform: skew(-20deg);
  background-color: #000;
  z-index: 999;
}
.merch-hero .carousel {
  position: relative;
}
.merch-hero .carousel-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25px;
  background-color: var(--primary-color);
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 6px;
}
.merch-hero .carousel-controls div {
  height: 100%;
  background-color: var(--background-color);
  aspect-ratio: 1;
  border-radius: 50%;
}
.merch-hero .carousel-controls div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
.merch-hero .carousel-controls div.selected {
  background-color: #000;
}

.merch-hero-text {
  position: absolute;
  top: 40%;
  left: 7%;
  text-align: center;
  color: var(--secondary-text-color);
  z-index: 9999;
  transition: all 0.5s ease-in-out;
  font-family: "Irish Grover", cursive;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 600px) {
  .merch-hero-text {
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .merch-hero-text {
    font-size: 26px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 992px) {
  .merch-hero-text {
    left: 20%;
    text-align: left;
  }
}
.merch-hero-text:hover {
  text-shadow: 10px 10px 5px #fff;
  transform: scale(1.2);
}

section.music-intro .img-wrapper {
  width: 80%;
  aspect-ratio: 1/1;
}
section.music-intro img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section.hits-section audio.new-hit, section.hits-section img.new-hit {
  width: 100%;
}
section.hits-section audio, section.hits-section img {
  width: 100%;
  border-radius: 10px;
}
@media only screen and (min-width: 992px) {
  section.hits-section audio, section.hits-section img {
    width: 100%;
  }
}
section.hits-section .right-song-container {
  gap: 20px;
}

.song {
  position: relative;
}

.song-name {
  position: absolute;
  left: 10%;
  bottom: 11%;
  font-size: smaller;
  font-family: "Inconsolata", monospace;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}
@media only screen and (min-width: 600px) {
  .song-name {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .song-name {
    font-size: 22px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 992px) {
  .song-name {
    font-size: 22px;
  }
}

.song-wrapper.font-small .song-name {
  font-size: small !important;
}

section.more-songs-section audio, section.more-songs-section img {
  width: 100%;
  border-radius: 10px;
}

.music-hero-text {
  position: absolute;
  top: 30%;
  left: 7%;
  text-align: center;
  height: 50%;
  color: var(--secondary-text-color);
  overflow: hidden;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Irish Grover", cursive;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 600px) {
  .music-hero-text {
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .music-hero-text {
    font-size: 26px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 992px) {
  .music-hero-text {
    left: 20%;
    text-align: left;
  }
}
.music-hero-text .line {
  opacity: 0.7;
  transition: all 1s ease-in-out;
}
.music-hero-text .line.current {
  opacity: 1;
}
.music-hero-text .line.move-up {
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
}
.music-hero-text .line.fade-out {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.more-songs-section .pause-play-toggle .bi::before {
  font-size: 80px;
}

.small-music-container .pause-play-toggle .bi::before {
  font-size: 80px;
}

.pause-play-toggle {
  width: 100%;
  position: absolute;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  bottom: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.pause-play-toggle .bi {
  color: rgba(228, 228, 228, 0.6);
}
.pause-play-toggle .bi:hover {
  cursor: pointer;
}
.pause-play-toggle .bi::before {
  font-size: 100px;
}

.merch-section .img-wrapper {
  overflow: hidden;
}
.merch-section img {
  transition: all 0.4s ease-in-out;
}
.merch-section img:hover {
  cursor: pointer;
  transform: scale(1.3);
  filter: drop-shadow(25%);
}

/*# sourceMappingURL=styles.css.map */
